# Ignore temporary and inessential files.
_*
.ipynb_checkpoints
*.swp
*.pyc
week-08/19-HbMb/myoglobin.txt
week-08/19-HbMb/myoglobin.npy
week-08/19-HbMb/myoglobin.csv
week-08/19-HbMb/hemoglobinmyoglobin.npz
week-06/computer-lab-3.ipynb
pmls-data-master/pmls-data-master/05-Clusters/londonIncidents.npz
pmls-data-master/pmls-data-master/04-Brownian/g26perrindata.txt
pmls-data-master/pmls-data-master/04-Brownian/g26perrindata.npy
pmls-data-master/pmls-data-master/04-Brownian/g26perrindata.mat
pmls-data-master/pmls-data-master/04-Brownian/g26perrindata.csv
pmls-data-master/pmls-data-master/03-ShotNoise/shotNoise.txt
pmls-data-master/pmls-data-master/03-ShotNoise/shotNoise.npy
pmls-data-master/pmls-data-master/03-ShotNoise/shotNoise.mat
pmls-data-master/pmls-data-master/02-Population/population.npy
pmls-data-master/pmls-data-master/02-Population/population.mat
pmls-data-master/pmls-data-master/02-Population/population.csv
pmls-data-master/pmls-data-master/01HIVseries/README.txt
pmls-data-master/pmls-data-master/01HIVseries/HIVseries.npz
pmls-data-master/pmls-data-master/01HIVseries/HIVseries.npy
pmls-data-master/pmls-data-master/01HIVseries/HIVseries.mat
pmls-data-master/pmls-data-master/01HIVseries/HIVseries.csv
pmls-data-master/pmls-data-master/01-HIVseries/HIVseries.npy
pmls-data-master/pmls-data-master/01-HIVseries/HIVseries.mat
pmls-data-master/pmls-data-master/01-HIVseries/HIVseries.csv
pmls-data-master/pmls-data-master/.gitattributes
